<section id="four">
  <h2 class="text-center text-white mt123">Work with future-proof technologies</h2>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <a href="#"><img src="{{ '/images/Vector (1).png' | relative_url }}" alt="rss feed" /></a>
      </div>
      <div class="col">
        <a href="#"><img src="{{ '/images/Vector (2).png' | relative_url }}" alt="rss feed" /></a>
      </div>
      <div class="col">
        <a href="#"><img src="{{ '/images/Vector (5).png' | relative_url }}" alt="rss feed" /></a>
      </div>
      <div class="col">
        <a href="#"><img src="{{ '/images/Component 8 (1).png' | relative_url }}" alt="rss feed" /></a>
      </div>
      <div class="col">
        <a href="#"><img src="{{ '/images/Frame.png' | relative_url }}" alt="rss feed" /></a>
      </div>
    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col col-lg-2">
        <a href="#"><img src="{{ '/images/file-icons_flutter.png' | relative_url }}" alt="rss feed" /></a>
      </div>
      <div class="col col-lg-2">
        <a href="#"><img src="{{ '/images/simple-icons_awsamplify.png' | relative_url }}" alt="rss feed" /></a>
      </div>
      <div class="col col-lg-2">
        <a href="#"><img src="{{ '/images/cib_vue-js.png' | relative_url }}" alt="rss feed" /></a>
      </div>
    </div>
  </div>
</section>